*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
public/css
public/fonts
public/js
**/caddy
frankenphp
frankenphp-worker.php
_ide_helper.php
VERSION
public/*.js
public/**/*.js
storage/*.json
public/errors
storage/errors
.opencode
docs/superpowers
.mimocode
summary-pos.md
relasi-db.docx
*.sql
chat.json